<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dealer</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.css">
    <script src="sha512-8QFTrG0oeOiyWo/VM9Y8kgxdlCryqhIxVeRpWSezdRRAvarxVtwLnGroJgnVW9/XBRduxO/z1GblzPrMQoeuew==">
    </script>
    <link rel="stylesheet"
        href="sha512-In/+MILhf6UMDJU4ZhDL0R0fEpsp4D3Le23m6+ujDWXwl3whwpucJG1PEmI3B07nyJx+875ccs+yX2CqQJUxUw==">
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    @include('admin/layouts/side-bar')
    @include('admin/layouts/header')


    <div class="page has-sidebar-left">
        <header class="my-3">
            <div class="container-fluid">
                @!section('body')
            </div>
        </header>
    </div>

</body>

</html>

<script>
    $('.dropify').dropify();
    if({{ flashMessages.get('updates.hasSuccessMessage') }}){
        Swal.fire({
  position: 'top-center',
  icon: 'success',
  title: "{{ flashMessages.get('updates.title') }}",
  showConfirmButton: false,
  timer: 1500,
  width: 350,
})
    }

    // $('#summernote').summernote({
    //     placeholder: 'Hello Bootstrap 4',
    //     tabsize: 2,
    //     height: 100
    //   });
    $($("#summernote").summernote("code")).text()
</script>