<script>
  function deleteRole(id){
        Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!',
  width: 350,
}).then((result) => {
  if (result.isConfirmed) {
    window.location = `{{route('role-delete',{id:"${id}"})}}`
  }
})
    
}

</script>